@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #e0e0e0;
  --foreground: #171717;
  --foreground-secondary: #3a3a3a;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-secondary: #2b2b2b;
    --foreground: #ededed;
    --foreground-secondary: #a3a3a3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
